<header class="w-full"  >
    <div class="upper_header flex p-6 justify-between">
        <div class="logo absolute ">
            <a href="#">
                <img class=" h-6 w-[3.75rem]" src="assets/logo.svg" alt="">
            </a>
        </div>
        <div class="main-menu-list">
            <ul class="first:ml-[5rem] [&>li]:font-semibold [&>li]:inline [&>li]:mx-2.5 [&>li]:px-2.5 [&>li]:text-base">
                <li class=""><a href="#">Live</a></li>
                <li class=""><a href="#">Push</a></li>
                <li class=""><a href="#">Note</a></li>
                <li class=""><a href="#">Link</a></li>
                <li class=""><a href="#">Shop</a></li>
                <li class=""><a href="#">Packs</a></li>
                <li class=""><a href="#">Help</a></li>
                <li class=""><a href="#" class="text-orange">More +</a></li>
            </ul>
        </div>
        <div class="secondary-menu-list">
            <ul class="[&>li]:font-semibold [&>li]:inline [&>li]:mx-2.5 [&>li]:px-2.5 [&>li]:text-base">

                <li class="inline "><a href="#" class="text-blue">Try live for free</a></li>
                <li class="inline" ><a href="#" class=" text-sm">Login to register</a></li>
            </ul>
        </div>
    </div>
    <div class="separator bg-grey h-[0.2rem]"></div>
    <div class="low-header py-6 flex items-start">
        <ul class="first:ml-3 [&>li]:font-semibold [&>li]:inline [&>li]:mx-2.5 [&>li]:px-2.5 [&>li]:text-sm">
            <li><a href="#" class="text-orange">About</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Apprenticeship</a></li>
        </ul>
    </div>
</header>